<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>Sistema Imobiliário</title>
    
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/imobiliaria.css}"/>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> 
                    <img alt="AlgaWorks" th:src="@{/resources/images/logo-algaworks.png}" />
                </a>
            </div>
        </div>
    </nav>
    
    <section layout:fragment="conteudo">
      <p>Conteudo principal</p>
    </section>
    
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script th:src="@{/resources/js/jquery.maskMoney.min.js}"/>
    <script th:src="@{/resources/js/imobiliaria.js}"/>
    
</body>
</html>









